@model UdemyAnimeList.Web.Features.Home.Index.Model

<div class="container-fluid">
    <div class="row">
        <div class="col-7">
            <div class="carousel">
                <ul class="anime-carousel">
                    @foreach (var item in Model.CurrentSeasonAnime)
                    {
                        <li>
                            <a asp-controller="Animes" asp-action="View" asp-route-id="@item.Id">
                                <span class="position-absolute">@item.Name</span>
                                <img src="@item.ImageUrl" style="width: 100%;" />
                            </a>
                        </li>
                    }
                </ul>
            </div>

            <div class="carousel">
                <ul class="anime-carousel">
                    @foreach (var item in Model.RecentlyUpdatedAnime)
                    {
                        <li>
                            <a asp-controller="Animes" asp-action="View" asp-route-id="@item.Id">
                                <span class="position-absolute">@item.Name</span>
                                <img src="@item.ImageUrl" style="width: 100%;" />
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="col-5">
            <div class="card mb-2">
                <div class="card-header">
                    <span>Top Airing Anime</span><a asp-controller="Animes" asp-action="TopAiring" class="float-right">More</a>
                </div>
                <div class="card-body">
                    @foreach (var anime in Model.TopAiringAnime)
                    {
                        <partial name="PopularAnime" model="anime" />
                    }
                </div>
            </div>

            <div class="card mb-2">
                <div class="card-header">
                    <span>Top Upcoming Anime</span><a asp-controller="Animes" asp-action="TopUpcoming" class="float-right">More</a>
                </div>
                <div class="card-body">
                    @foreach (var anime in Model.TopUpcomingAnime)
                    {
                        <partial name="PopularAnime" model="anime" />
                    }
                </div>
            </div>

            <div class="card mb-2">
                <div class="card-header">
                    <span>Most Popular Anime</span><a asp-controller="Animes" asp-action="MostPopular" class="float-right">More</a>
                </div>
                <div class="card-body">
                    @foreach (var anime in Model.MostPopularAnime)
                    {
                        <partial name="PopularAnime" model="anime" />
                    }
                </div>
            </div>
        </div>
    </div>
</div>
